<div class="container">
  <% if(users.length>0) { %>
  <h1>Here are all the profiles</h1>
<div class="row">
  <div class="col-xs-3"><strong>Profile Picture</strong></div>
  <div class="col-xs-3"><strong>Name</strong></div>
  <div class="col-xs-3"><strong>Company</strong></div>
  <div class="col-xs-3"><strong>Job Title</strong></div>
  </div>

  <% users.forEach(user => { %>
<div class="row">
  <div class="col-xs-3"><img class="img-profile" src="<%= user.imageUrl %>"></div>
  <div class="col-xs-3"><a href="/profiles/<%= user._id %>"><%= user.name %></a></div>
  <div class="col-xs-3"><%= user.company %></div>
  <div class="col-xs-3"><%= user.jobTitle %></div>
</div>  
  <% }) %>
  <% } else { %>
        <div>No profiles found...</div>
      <% } %>

</div>
