<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <form action="/signup" method="POST">
      <div class="form-group <%= typeof error != 'undefined' && error.name ? 'has-error' : '' %>">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="name" class="form-control" placeholder="Name" value="<%= typeof user != 'undefined' && user.name ? user.name : '' %>">
        </div>
        <% if (typeof(error) != 'undefined' && error.name) { %>
          <label class="control-label"> <%= error.name %> </label>
        <% } %>
      </div>
      <div class="form-group <%= typeof error != 'undefined' && error.email ? 'has-error' : '' %>">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-address-card"></i>
          </span>
          <input type="text" name="email" class="form-control" placeholder="Email" value="<%= typeof user != 'undefined' && user.email ? user.email : '' %>">
        </div>
        <% if (typeof(error) != 'undefined' && error.email) { %>
          <label class="control-label"> <%= error.email %> </label>
        <% } %>
      </div>

      <div class="form-group <%= typeof error != 'undefined' && error.password ? 'has-error' : '' %>">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-lock"></i>
          </span>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <% if (typeof(error) != 'undefined' && error.password) { %>
          <label class="control-label"><%= error.password %></label>
        <% } %>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-camera"></i>
          </span>
          <input type="text" name="imgUrl" class="form-control" placeholder="Profile pic">
        </div>
      </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-building-o"></i>
        </span>
        <input type="text" name="company" class="form-control" placeholder="Company">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-suitcase"></i>
        </span>
        <input type="text" name="jobTitle" class="form-control" placeholder="Job Title">
      </div>
    </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <textarea name="summary" cols="43" rows="10" placeholder="Summary"></textarea>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-block btn-primary">Signup</button>
      </div>
    </form>
  </div>
</div>
