<h2>Edit your profile</h2>

<form id="form" action="/profile/<%= profile.id %>/edit/" method="POST">
    <label>profile photo <br> <img src="<%= profile.imageUrl %>" alt="photo-profile"></label>
    <br> <br>
    
    <label>Username <br> <input type="text" name="username" value="<%= profile.username %>"></label>
    <br> <br>

    <label>Password <br> <input type="password" name="password" value="<%= profile.password %>"></label>
    <br> <br>

    <label>Name <br> <input type="text" name="name" value="<%= profile.name %>"></label>
    <br> <br>

    <label>Email <br> <input type="text" name="email" value="<%= profile.email %>"></label>
    <br> <br>

    <label>Summary <br> <input type="text" name="summary" value="<%= profile.summary %>"></label>
    <br> <br>

    <label>Company <br> <input type="text" name="company" value="<%= profile.company %>"></label>
    <br> <br>

    <label>Job Title <br> <input type="text" name="jobTitle" value="<%= profile.jobTitle %>"></label>
    <br> <br>

    <button>Update</button>
    
    <button><a href="/home"></a> go back</button>
</form>
