<form action="/signup" method="POST" id="form-container">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="<%= user.username%>">
    <br>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="<%= user.password%>">
    <br>
    <br>
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="<%= user.name%>">
    <br>
    <br>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="<%= user.email%>">
    <br>
    <br>
    <label for="summary">Summary</label>
    <input type="text" name="summary" placeholder="<%= user.summary%>">
    <br>
    <br>
    <label for="image">imageUrl</label>
    <input type="text" name="imageUrl" placeholder="<%= user.imageUrl%>">
    <br>
    <br>
    <label for="company">Company</label>
    <input type="text" name="company" placeholder="<%= user.company%>">
    <br>
    <br>
    <label for="company">JobTitle</label>
    <input type="text" name="jobTitle" placeholder="<%= user.jobTittle%>">
    <br>
    <br>
    <button>Update</button>
</form>