<h2>Edit profile of <%=item.userName%> </h2>
<div>
<form action="/profile/<%=session._id%>" method="POST">
  <label for="name">name</label>
  <input type="text" id="name" name="name" value="<%=item.name%>" required="required">
  <br><br>
  <label for="email">Email</label>
  <input type="email" name="email" id="email" value="<%=item.email%>" required="required">
  <br><br>
  <label for="summary">Summary</label>
  <input type="text" name="summary" id="summary" value="<%=item.summary%>">
  <br><br>
  <label for="company">Company</label>
  <input type="text" name="company" id="company" value="<%=item.company%>">
  <br><br>
  <label for="jobTitle">JobTitle</label>
  <input type="text" name="jobTitle" id="jobTitle" value="<%=item.jobTitle%>">
  <br><br>
  <label for="imageUrl">Image</label>
  <input type="text" name="imageUrl" id="imageUrl" value="<%=item.imageUrl%>">
  <br><br>
 <button type="submit">Apply changes</button>
</form>
</div>
