<h1><%= title %></h1>
<ul>
  <li>User: <%= user %></li>
  <li>Name: <%= name %></li>
  <li>Email: <%= email %></li>
  <li>Summary: <%= summary %></li>
  <li>Image: <%= imageUrl %></li>
  <li>Company: <%= company %></li>
  <li>Job: <%= jobTitle %></li>
</ul>
<br>
<a href="/edit">Edit</a>
