<h2><%= info.name %> </h2>
<ul>
<li><%= info.email %> </li>
<li><%= info.username %> </li>
<li><%= info.company %> </li>
<li><%= info.name %> </li>
<li><%= info.jobTitle %> </li>
<li><%= info.imageUrl %> </li>


</ul>
<a href="/profile/ <%= info._id %> /edit">EDIT</a>