<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="profile">
      <a href="../<%= user._id %>/edit">Edit</a>
      <h4 style="color: #007bb6">Welcome to LinkedIn, <%= user.email %></h4>
      <p class="name"><%= user.name %></p>
      <img class="imageUrl" src="<%= user.imageUrl %>" />
      <p class="summary"><%= user.summary %></p>
      <p class="company"><%= user.company %></p>
      <p class="jobTitle"><%= user.jobTitle %></p>
      <a href="/logout">Logout</a>
    </div>

  </body>
</html>
