<a href="/">Home</a>
<h2><%= user.name %> Profile</h2>
<p><%=user.jobTitle%> at <%=user.company%></p>
<p><%=user.summary%></p>

<img src="<%=user.imageUrl%>" alt="">
<br>
<br>
<a href="/logout">Logout</a>