<p>Name: <b><%= user.username %></b></p><br>
<p>image: <b><%= user.imageUrl %></b></p><br>
<p>Job title: <b><%= user.jobTitle %></b></p><br>
<p>Company: <b><%= user.company %></b></p><br>

<% if(userSession) { %>
  <% if(userSession && userSession._id == user._id) { %>
      <p>Email: <b><%= user.email %></b></p><br>
      <p>sumary: <b><%= user.sumary %></b></p><br>
      <a href="/user/<%= userSession._id %>/edit">Edit profile</a> or
      <a href="/user/<%= userSession._id %>/post">New post</a>
    <% } %>
    <br><br><a href="/auth/logout">Log out</a>
<% } %>

<br><br><a href="/">Back to home</a>