
    <h1> <%=title%></h1>
    <p>Welcome to <%=title%> <%=user.username%></p>

    <a href="/profile/<%=user._id%>"><button>My profile</button></a>
    <a href="/profile/<%=user._id%>/edit">Edit your profile</a>
    <a href="/logout">Log out</a>


  

   

