<h3>News Feed</h3>
<% posts.forEach((p)=>{ %>
  <p>Published by
    <a href="profile/<%= p.creatorId %>">
      <% if(user && p.creatorId == user._id ){ %>
        me
        <% } else {%>
          <%=p.creatorName %>
            <% } %>
              on
              <%= p.created_at%>
                <% if(user && p.creatorId == user._id ){ %>
                  <a href="post/edit/<%= p._id %>"> Edit post</a>
                  <% } %>

                    <%=p.content %>
                      <% }) %>