<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- If user is logged in -->
    <% if (user){ %>
    <div class="profile">
      <a href="./edit">Edit</a>
      <h4 style="color: #007bb6">Welcome to LinkedIn, <%= user.email %></h4>
      <p class="name"><%= user.name %></p>
      <img class="imageUrl" src="<%= user.imageUrl %>" />
      <p class="summary"><%= user.summary %></p>
      <p class="company"><%= user.company %></p>
      <p class="jobTitle"><%= user.jobTitle %></p>
      <a href="/logout">Logout</a>
    </div>

    <!-- Otherwise -->
    <% } else { %>
      <a href="/login">Login</a> - <a href="/signup">Sign up</a>
    <% } %>
  </body>
</html>
