<form id="form" method="POST">

  <label for="username">Username</label>
  <input id="username" type="text" name="username" value="<%= currentUser.username %>"></input>

  <label for="username">Image</label>
  <input id="imageUrl" type="text" name="imageUrl" value="<%= currentUser.imageUrl %>"></input>

  <label for="jobTitle">Job Title</label>
  <input id="jobTitle" type="text" name="jobTitle" value="<%= currentUser.jobTitle %>"></input>

  <label for="summary">Summary</label>
  <input id="summary" type="text" name="summary" value="<%= currentUser.summary %>"></input>

  <label for="email">Email</label>
  <input id="email" type="text" name="email" value="<%= currentUser.email %>"></input>

  <label for="password">New Password</label>
  <input id="password" type="password" name="password" value=""></input>

  <button type="submit">Save changes</button>

</form>