<h2>PRIVATE PAGE</h2>
<h2>username: <%=  user.username %></h2>
<h2>email: <%=  user.email %></h2>
<h2>Summary: <%=  user.summary %></h2>
<h2>Image: <%=  user.imageUrl %></h2>
<h2>Company: <%=  user.company %></h2>
<h2>Job: <%=  user.username %></h2>
<a href="/">Go home</a>
<a href="<%= user.id %>/edit">Edit</a>