<h1><%= user.name %>'s Profile</h1>
<img src="<%=user.imageUrl %>" alt="<%= user.username %> Pic">
<h2><%= user.jobTitle %> @ <%= user.company %></h2>

<% if (currentUser) { %>
  <p><%= user.summary %></p>
  <a href="mailto:<%= user.email %>"><%= user.email %></a>
  <% if (currentUser._id == user.id) { %>
    <a href="<%= user.id %>/edit" class="btn">Edit your profile</a>
    <a href="<%= user.id %>/posts/new" class="btn">New Post</a>
    <a href="/logout" >Log out</a>
  <% }%>
  <hr>
  <h3>Recent Posts</h3>

  <% posts.forEach((post) => { %>
    <div>
      <p><%= post.content %></p>
      <% if (currentUser._id == user.id) { %>
        <a href="<%= user.id %>/posts/<%= post._creator.userId %>/edit">Edit post</a>
      <% }%>
      <hr>
    </div>
  <%  }) %>
<% }%>