<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Edit profile</title>
</head>

<body>
    <% if (owner) { %>
        <h2>Your profile</h2>
        <% } else { %>
            <h2><%= user.username %></h2>
            <% } %>
                <% if (logged)  {%>
                    <p>
                        <bold>Username</bold>:
                        <%= user.username %>
                    </p>

                    <p>
                        <bold>Name</bold>:
                        <%= user.name %>
                    </p>

                    <p>
                        <bold>Email</bold>:
                        <%= user.email %>
                    </p>

                    <p>
                        <bold>Summary</bold>:
                        <%= user.summary %>
                    </p>

                    <p>
                        <bold>imageUrl</bold>:
                        <%= user.imageUrl %>
                    </p>

                    <p>
                        <bold>Company</bold>:
                        <%= user.company %>
                    </p>

                    <p>
                        <bold>Job title</bold>:
                        <%= user.jobTitle %>
                    </p>

                    <% } else { %>
                        <p>
                            <bold>Name</bold>:
                            <%= user.name %>
                        </p>
                        <p>
                            <bold>imageUrl</bold>:
                            <%= user.imageUrl %>
                        </p>
                        <p>
                            <bold>Company</bold>:
                            <%= user.company %>
                        </p>
                        <p>
                            <bold>Job title</bold>:
                            <%= user.jobTitle %>
                        </p>
                        <% } %>
                            <% if (owner) { %>
                                <a href="/profile/<%= user.id %>/edit"><button>Edit profile</button></a>
                                <% } %>




</body>

</html>
