<div class="field">
<p class="name"> Name: <%= user.name %> </p>
</div>
<div class="field">
<p class="email"> E-mail: <%= user.email %></p>
</div>
<div class="field">
<p class="summary"> Summary: <%= user.summary %></p>
</div>
<div class="field">
<p class="company"> Company: <%= user.company %></p>
</div>
<div class="field">
<p class="jobTitle"> Job Title: <%= user.jobTitle %></p>
</div>
<a href="/profile/<%= user._id%>/edit">Edit your profile</a>