<form action="<%= yomismo._id %>" method="post">
    <input type="text" name="username" value="<%= yomismo.username %>">
  <input type="pasword" name="password" value= "<%= yomismo.password %>" >
  <input type="text" name="name" value="<%= yomismo.name%>">
  <input type="text" name="email" value="<%= yomismo.email%>">

  <button type="submit">Submit Review</button>

</form>
<br><br>
  <a href="/profile">Go back</a>
  <br><br>

  <a href="/logout">Logout</a>
